
#email{
    margin-top: 20px;
}
  
  input{
    padding:8px;
    width:250px;
    margin:10px;
    text-align:center;
    border-radius:10px;
    border:1px solid brown;
  }
  
  .card1{
    border-radius:15px;
    text-align:center;
    height:350px;
    width:320px;
    margin-top: 7%;
    margin-left: 450px;
    background-color:#F2EFE4;
    border: 2px solid teal;
    
  }
 
  h1{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
 button{
    padding:10px;
    width:130px;
    border-radius:25px;
    font-size:15px;
    color:white;
    background-color:#D83F87;
    margin-top: 20px;
  }
  
  .card1 button:hover{
    background-color:#f172A1;
    cursor:pointer;
  }

 

  a{
    text-decoration:none;
    border:2px solid gray;
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    color:black;
   
  }
  a:hover {
    background-color:white;
    color:black
  }